body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

header {
    width: 100%;
    height: 65px;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    z-index: 10;
}

.header-logo {
    float: left;
    font-size: 24px;
    color: white;
    padding: 0 20px;
    line-height: 17px;
}

.header-right {
    float: right;
}

.header-right a {
    text-decoration: none;
    float: right;
    padding: 0 25px;
    line-height: 65px;
    font-size: 18px;
    color: white;
    display: block;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    color: white;
    font-size: 32px;
    float: right;
    padding-top: 15px;
    display: none !important;
}

.fas {
    margin-right: 5px;
}
  

.report-wrapper {
    width: 80%;
    padding: 0 10%;
    padding-top: 200px;
}

.introduction {
    float: left;
    width: 20%;
    color: gray;
    font-size: 18px;
}

.introduction a {
    color: gray;
}

.introduction img {
    width: 100%;
} 

.report-container {
    width: 75%;
    padding-left: 25%;
}

.heading h3 {
    color: black;
    border-bottom: darkgray solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.main-report p {
    font-size: 18px;
    color: gray;
}

.main-report h3 {
    color: gray;
}

.main-report {
    padding-bottom: 100px;
}

.viewer-1 {
    float: left;
}

.viewer-1 img {
    padding: 10px;
    width: 25%;
}